.stripe {
  background: white;
	height: 30px;
	text-align: center;
	color: black;
	vertical-align: middle;
	overflow: hidden;

}

.message {
  display: inline-block;
	width: 20%;
}

.label {
	vertical-align: middle;
  border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
	text-decoration: none;
	padding: 4px 5px 0 5px;
	display: inline-block;
	cursor: pointer;
}

.selected {
	color: white;
	background: steelblue;
}