.heading {
	text-align: center;
	line-height: 1;
    color: white;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
    transition: background-color .6s;
}

.heading span {
	font-size:60px;
}