html, body
{
  width: 100%;
  height: 100%;
}

body {
	margin: 0;
	font-family: "Montserrat", "Avenir";
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: 100%;
  background-color: #232323;
}

.steelblue {
  background-color: steelblue !important;
}

.button {
  width: 150px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  margin-top: 1rem;
}

.auth-container {
 width: 60%;
 margin: 5% auto;
}

.board {
  margin: 0 auto;
}