.custom-modal {
  background-color: white;
  color: black;
  border-radius: 2%;
  margin: 30px auto;
  padding: 20px 0;
  text-align: center;
}

.model-label {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.model-content {
  margin: 10px
}